<configuration>
    <dllmap dll="opencv_highgui2412" os="windows" target="opencv_highgui2412.dll"/>
    <dllmap dll="opencv_highgui2412" os="!windows" target="libopencv_highgui.so.2.4"/>
    <dllmap dll="opencv_core2412" os="windows" target="opencv_core2412.dll"/>
    <dllmap dll="opencv_core2412" os="!windows" target="libopencv_core.so.2.4"/>
</configuration>
